---

- include: install.yml
  tags:
    - cantaloupe
    - cantaloupe-install

- include: config.yml
  tags:
    - cantaloupe
    - cantaloupe-config

- include: web.yml
  tags:
    - cantaloupe
    - cantaloupe-web
  when: cantaloupe_deploy_war

- include: cache.yml
  tags:
    - cantaloupe
    - cantaloupe-cache
  when: cantaloupe_create_FilesystemCache_dir
