---

# managed by Ansible

fedora_resource:
  base_url: {{ crayfish_recast_fedora_base_url }}

drupal_base_url: {{ crayfish_recast_drupal_base_url }}

debug: false

log:
  # Valid log levels are:
  # DEBUG, INFO, NOTICE, WARNING, ERROR, CRITICAL, ALERT, EMERGENCY, NONE
  # log level none won't open logfile
  level: {{ crayfish_recast_log_level }}
  file: {{ crayfish_recast_log_file }}

syn:
  # toggles JWT security for service
  enable: {{ crayfish_recast_jwt_enabled }}
  # Path to the syn config file for authentication.
  # example can be found here:
  # https://github.com/Islandora-CLAW/Syn/blob/main/conf/syn-settings.example.xml
  config: {{ crayfish_recast_jwt_config }}

# Add namespace prefixes used by Fedora for recast service
# Must be inside an array to maintain the internal associative array.
namespaces:
-
{% for key, value in crayfish_recast_prefixes.items() %}
  {{ key }}: {{ value }}
{% endfor %}
