---

tomcat9_users:
  - username: islandora
    password: "{{ islandora_tomcat_password }}"
    roles:
      - manager-gui

# For Fedora 5
# Use "file-simple", for test instance 
# For production use either "jdbc-mysql" or "jdbc-postgresql"
#fcrepo_persistence: file-simple

# For Fedora 6, use either "mysql" or "postgresql"
fcrepo_db_type: mysql

# Used for mysql or postgres object persistence.
fcrepo_db_name: fcrepo
fcrepo_db_user: fcrepo
fcrepo_db_host: "127.0.0.1"
fcrepo_db_port: "3306"

tomcat9_java_opts:
  - -Djava.awt.headless=true
  - -Dfile.encoding=UTF-8
  - -server
  - -Xms512m
  - -Xmx1024m
  - -XX:NewSize=256m
  - -XX:MaxNewSize=256m
  - -XX:PermSize=256m
  - -XX:MaxPermSize=256m
  - -Dcom.bigdata.rdf.sail.webapp.ConfigParams.propertyFile={{ blazegraph_home_dir }}/conf/RWStore.properties
  - -Dcantaloupe.config={{ cantaloupe_symlink }}/cantaloupe.properties
  - -Dorg.apache.tomcat.util.buf.UDecoder.ALLOW_ENCODED_SLASH=true
  - -Dfcrepo.config.file={{ fcrepo_config_file }}
# Fedora 5 options
#  - -Dfcrepo.modeshape.configuration=file://{{ fcrepo_home_dir }}/configs/repository.json
#  - -Dfcrepo.activemq.configuration=file://{{ fcrepo_config_dir }}/activemq.xml
#  - -Dfcrepo.spring.configuration=file://{{ fcrepo_home_dir }}/configs/fcrepo-config.xml
#  - -Dfcrepo.external.content.allowed={{ fcrepo_allowed_external_content_file }}

tomcat9_config_dir: "/etc/tomcat9"

fcrepo_syn_tomcat_config_dir: "{{ tomcat9_config_dir }}"

fcrepo_syn_sites:
  - algorithm: RS256
    encoding: PEM
    anonymous: true
    default: true
    path: "{{ fcrepo_syn_default_public_key_path }}"

fcrepo_syn_tokens:
  - user: admin
    roles:
      - admin
      - fedoraAdmin
    token: "{{ islandora_syn_token }}"

fcrepo_version: "6.0.0"
fcrepo_home_dir: "/opt/fcrepo"
fcrepo_data_dir: "{{ fcrepo_home_dir }}/data"
fcrepo_auth_header_name: "X-Islandora"
fcrepo_syn_auth_header: "X-Islandora"

cantaloupe_deploy_war: yes
cantaloupe_deploy_war_path: "{{ tomcat9_home }}/webapps"
cantaloupe_user: tomcat
cantaloupe_group: tomcat
cantaloupe_admin_enabled: "true"
cantaloupe_OpenJpegProcessor_path_to_binaries: /usr/local/bin
cantaloupe_log_application_ConsoleAppender_enabled: "false"
cantaloupe_log_application_FileAppender_enabled: "true"
cantaloupe_log_application_FileAppender_pathname: "{{ cantaloupe_log_path }}/application.log"
cantaloupe_log_access_FileAppender_enabled: "true"
cantaloupe_log_access_FileAppender_pathname: "{{ cantaloupe_log_path }}/access.log"
cantaloupe_FilesystemResolver_BasicLookupStrategy_path_prefix: /var/www/html/drupal/web/
cantaloupe_processor_jp2: OpenJpegProcessor
cantaloupe_cache_source: FilesystemCache
cantaloupe_cache_derivative: FilesystemCache
cantaloupe_create_FilesystemCache_dir: yes
cantaloupe_resolver_static: HttpSource
cantaloupe_HttpResolver_BasicLookupStrategy_url_prefix: ""
