---

drupal_build_composer_project: true
drupal_composer_install_dir: /var/www/html/drupal
drupal_composer_project_package: roblib/islandora-project

drupal_core_owner: "{{ ansible_user }}"
drupal_composer_dependencies: ""
drupal_composer_project_options: "--prefer-dist --stability dev --no-interaction --repository='{\"type\": \"vcs\", \"url\": \"https://github.com/roblib/islandora-project\"}'"
drupal_core_path: "{{ drupal_composer_install_dir }}/web"
drupal_db_user: drupal8
drupal_db_name: drupal8
drupal_db_backend: "{{ claw_db }}"
drupal_db_host: "127.0.0.1"
drupal_domain: "claw.dev"
drupal_site_name: "Islandora 8"
drupal_install_profile: islandora_profile
drupal_account_name: admin

drupal_enable_modules:
  - islandora_search

drupal_trusted_hosts:
  - ^localhost$
  - "{{ hostvars[groups['webserver'][0]].ansible_host }}"
drupal_trusted_hosts_file: "{{ drupal_core_path }}/sites/default/settings.php"
drupal_public_filesystem: "{{ drupal_core_path }}/sites/default/files"
drupal_external_libraries_directory: "{{ drupal_core_path }}/libraries"
fedora_base_url: "http://{{ hostvars[groups['tomcat'][0]].ansible_host }}:8080/fcrepo/rest/"
drupal_jsonld_remove_format: true
drupal_gemini_pseudo_bundles:
  - islandora_object:node
  - image:media
  - file:media
  - audio:media
  - video:media
openseadragon_composer_item: "islandora/openseadragon:dev-8.x-1.x"
