###########################################################################
# This file is managed by Ansible
###########################################################################

###########################################################################
# GENERAL SETTINGS
###########################################################################

http.enabled = {{ cantaloupe_http_enabled }}
http.host = {{ cantaloupe_http_host }}
http.port = {{ cantaloupe_http_port }}
https.enabled = {{ cantaloupe_https_enabled }}
https.host = {{ cantaloupe_https_host }}
https.port = {{ cantaloupe_https_port }}
https.key_store_type = {{ cantaloupe_https_key_store_type }}
https.key_store_password = {{ cantaloupe_https_key_store_password }}
https.key_store_path = {{ cantaloupe_https_key_store_path }}
https.key_password = {{ cantaloupe_https_key_password }}
auth.basic.enabled = {{ cantaloupe_auth_basic_enabled }}
auth.basic.username = {{ cantaloupe_auth_basic_username }}
auth.basic.secret = {{ cantaloupe_auth_basic_secret }}
admin.enabled = {{ cantaloupe_admin_enabled }}
admin.password = {{ cantaloupe_admin_password }}
base_uri = {{ cantaloupe_base_uri }}
slash_substitute = {{ cantaloupe_slash_substitute }}
max_pixels = {{ cantaloupe_max_pixels }}
print_stack_trace_on_error_pages = {{ cantaloupe_print_stack_trace_on_error_pages }}

###########################################################################
# DELEGATE SCRIPT
###########################################################################

delegate_script.enabled = {{ cantaloupe_delegate_script_enabled }}
delegate_script.pathname = {{ cantaloupe_delegate_script_pathname }}
delegate_script.cache.enabled = {{ cantaloupe_delegate_script_cache_enabled }}

###########################################################################
# ENDPOINTS
###########################################################################

endpoint.iiif.1.enabled = {{ cantaloupe_endpoint_iiif_1_enabled }}
endpoint.iiif.2.enabled = {{ cantaloupe_endpoint_iiif_2_enabled }}
endpoint.iiif.content_disposition = {{ cantaloupe_endpoint_iiif_content_disposition }}
endpoint.iiif.min_tile_size = {{ cantaloupe_endpoint_iiif_min_tile_size }}
endpoint.iiif.2.restrict_to_sizes = {{ cantaloupe_endpoint_iiif_2_restrict_to_sizes }}
endpoint.api.enabled = {{ cantaloupe_endpoint_api_enabled }}
endpoint.api.username = {{ cantaloupe_endpoint_api_username }}
endpoint.api.secret = {{ cantaloupe_endpoint_api_secret }}

###########################################################################
# RESOLVERS
###########################################################################

resolver.static = {{ cantaloupe_resolver_static }}
resolver.delegate = {{ cantaloupe_resolver_delegate }}

#----------------------------------------
# FilesystemResolver
#----------------------------------------

FilesystemResolver.lookup_strategy = {{ cantaloupe_FilesystemResolver_lookup_strategy }}
FilesystemResolver.BasicLookupStrategy.path_prefix = {{ cantaloupe_FilesystemResolver_BasicLookupStrategy_path_prefix }}
FilesystemResolver.BasicLookupStrategy.path_suffix = {{ cantaloupe_FilesystemResolver_BasicLookupStrategy_path_suffix }}

#----------------------------------------
# HttpResolver
#----------------------------------------

HttpResolver.lookup_strategy = {{ cantaloupe_HttpResolver_lookup_strategy }}
HttpResolver.BasicLookupStrategy.url_prefix = {{ cantaloupe_HttpResolver_BasicLookupStrategy_url_prefix }}
HttpResolver.BasicLookupStrategy.url_suffix = {{ cantaloupe_HttpResolver_BasicLookupStrategy_url_suffix }}
HttpResolver.auth.basic.username = {{ cantaloupe_HttpResolver_auth_basic_username }}
HttpResolver.auth.basic.secret = {{ cantaloupe_HttpResolver_auth_basic_secret }}

#----------------------------------------
# JdbcResolver
#----------------------------------------

JdbcResolver.url = {{ cantaloupe_JdbcResolver_url }}
JdbcResolver.user = {{ cantaloupe_JdbcResolver_user }}
JdbcResolver.password = {{ cantaloupe_JdbcResolver_password }}
JdbcResolver.connection_timeout = {{ cantaloupe_JdbcResolver_connection_timeout }}

#----------------------------------------
# AmazonS3Resolver
#----------------------------------------

AmazonS3Resolver.access_key_id = {{ cantaloupe_AmazonS3Resolver_access_key_id }}
AmazonS3Resolver.secret_key = {{ cantaloupe_AmazonS3Resolver_secret_key }}
AmazonS3Resolver.bucket.name = {{ cantaloupe_AmazonS3Resolver_bucket_name }}
AmazonS3Resolver.bucket.region = {{ cantaloupe_AmazonS3Resolver_bucket_region }}
AmazonS3Resolver.lookup_strategy = {{ cantaloupe_AmazonS3Resolver_lookup_strategy }}

#----------------------------------------
# AzureStorageResolver
#----------------------------------------

AzureStorageResolver.account_name = {{ cantaloupe_AzureStorageResolver_account_name }}
AzureStorageResolver.account_key = {{ cantaloupe_AzureStorageResolver_account_key }}
AzureStorageResolver.container_name = {{ cantaloupe_AzureStorageResolver_container_name }}
AzureStorageResolver.lookup_strategy = {{ cantaloupe_AzureStorageResolver_lookup_strategy }}

###########################################################################
# PROCESSORS
###########################################################################

#----------------------------------------
# Processor Selection
#----------------------------------------

processor.avi = {{ cantaloupe_processor_avi }}
processor.bmp = {{ cantaloupe_processor_bmp }}
processor.dcm = {{ cantaloupe_processor_dcm }}
processor.gif = {{ cantaloupe_processor_gif }}
processor.jp2 = {{ cantaloupe_processor_jp2 }}
processor.jpg = {{ cantaloupe_processor_jpg }}
processor.mov = {{ cantaloupe_processor_mov }}
processor.mp4 = {{ cantaloupe_processor_mp4 }}
processor.mpg = {{ cantaloupe_processor_mpg }}
processor.pdf = {{ cantaloupe_processor_pdf }}
processor.png = {{ cantaloupe_processor_png }}
processor.tif = {{ cantaloupe_processor_tif }}
processor.webm = {{ cantaloupe_processor_webm }}
processor.webp = {{ cantaloupe_processor_webp }}
processor.fallback = {{ cantaloupe_processor_fallback }}

#----------------------------------------
# Global Processor Configuration
#----------------------------------------

processor.normalize = {{ cantaloupe_processor_normalize }}
processor.background_color = {{ cantaloupe_processor_background_color }}
processor.downscale_filter = {{ cantaloupe_processor_downscale_filter }}
processor.upscale_filter = {{ cantaloupe_processor_upscale_filter }}
processor.sharpen = {{ cantaloupe_processor_sharpen }}
processor.jpg.progressive = {{ cantaloupe_processor_jpg_progressive }}
processor.jpg.quality = {{ cantaloupe_processor_jpg_quality }}
processor.tif.compression = {{ cantaloupe_processor_tif_compression }}
StreamProcessor.retrieval_strategy = {{ cantaloupe_StreamProcessor_retrieval_strategy }}

#----------------------------------------
# FfmpegProcessor
#----------------------------------------

FfmpegProcessor.path_to_binaries = {{ cantaloupe_FfmpegProcessor_path_to_binaries }}

#----------------------------------------
# GraphicsMagickProcessor
#----------------------------------------

GraphicsMagickProcessor.path_to_binaries = {{ cantaloupe_GraphicsMagickProcessor_path_to_binaries }}

#----------------------------------------
# ImageMagickProcessor
#----------------------------------------

ImageMagickProcessor.path_to_binaries = {{ cantaloupe_ImageMagickProcessor_path_to_binaries }}

#----------------------------------------
# KakaduProcessor
#----------------------------------------

KakaduProcessor.path_to_binaries = {{ cantaloupe_KakaduProcessor_path_to_binaries }}

#----------------------------------------
# OpenJpegProcessor
#----------------------------------------

OpenJpegProcessor.path_to_binaries = {{ cantaloupe_OpenJpegProcessor_path_to_binaries }}

#----------------------------------------
# PdfBoxProcessor
#----------------------------------------

PdfBoxProcessor.dpi = {{ cantaloupe_PdfBoxProcessor_dpi }}

###########################################################################
# CLIENT-SIDE CACHING
###########################################################################

cache.client.enabled = {{ cantaloupe_cache_client_enabled }}
cache.client.max_age = {{ cantaloupe_cache_client_max_age }}
cache.client.shared_max_age = {{ cantaloupe_cache_client_shared_max_age }}
cache.client.public = {{ cantaloupe_cache_client_public }}
cache.client.private = {{ cantaloupe_cache_client_private }}
cache.client.no_cache = {{ cantaloupe_cache_client_no_cache }}
cache.client.no_store = {{ cantaloupe_cache_client_no_store }}
cache.client.must_revalidate = {{ cantaloupe_cache_client_must_revalidate }}
cache.client.proxy_revalidate = {{ cantaloupe_cache_client_proxy_revalidate }}
cache.client.no_transform = {{ cantaloupe_cache_client_no_transform }}

###########################################################################
# SERVER-SIDE CACHING
###########################################################################

cache.source = {{ cantaloupe_cache_source }}
cache.derivative = {{ cantaloupe_cache_derivative }}
cache.server.ttl_seconds = {{ cantaloupe_cache_server_ttl_seconds }}
cache.server.purge_missing = {{ cantaloupe_cache_server_purge_missing }}
cache.server.resolve_first = {{ cantaloupe_cache_server_resolve_first }}
cache.server.worker.enabled = {{ cantaloupe_cache_server_worker_enabled }}
cache.server.worker.interval = {{ cantaloupe_cache_server_worker_interval }}

#----------------------------------------
# FilesystemCache
#----------------------------------------

FilesystemCache.pathname = {{ cantaloupe_FilesystemCache_pathname }}
FilesystemCache.dir.depth = {{ cantaloupe_FilesystemCache_dir_depth }}
FilesystemCache.dir.name_length = {{ cantaloupe_FilesystemCache_dir_name_length }}

#----------------------------------------
# JdbcCache
#----------------------------------------

JdbcCache.url = {{ cantaloupe_JdbcCache_url }}
JdbcCache.user = {{ cantaloupe_JdbcCache_user }}
JdbcCache.password = {{ cantaloupe_JdbcCache_password }}
JdbcCache.connection_timeout = {{ cantaloupe_JdbcCache_connection_timeout }}
JdbcCache.derivative_image_table = {{ cantaloupe_JdbcCache_derivative_image_table }}
JdbcCache.info_table = {{ cantaloupe_JdbcCache_info_table }}

#----------------------------------------
# AmazonS3Cache
#----------------------------------------

AmazonS3Cache.access_key_id = {{ cantaloupe_AmazonS3Cache_access_key_id }}
AmazonS3Cache.secret_key = {{ cantaloupe_AmazonS3Cache_secret_key }}
AmazonS3Cache.bucket.name = {{ cantaloupe_AmazonS3Cache_bucket_name }}
AmazonS3Cache.bucket.region = {{ cantaloupe_AmazonS3Cache_bucket_region }}
AmazonS3Cache.object_key_prefix = {{ cantaloupe_AmazonS3Cache_object_key_prefix }}

#----------------------------------------
# AzureStorageCache
#----------------------------------------

AzureStorageCache.account_name = {{ cantaloupe_AzureStorageCache_account_name }}
AzureStorageCache.account_key = {{ cantaloupe_AzureStorageCache_account_key }}
AzureStorageCache.container_name = {{ cantaloupe_AzureStorageCache_container_name }}
AzureStorageCache.object_key_prefix = {{ cantaloupe_AzureStorageCache_object_key_prefix }}

###########################################################################
# OVERLAYS
###########################################################################

overlays.enabled = {{ cantaloupe_overlays_enabled }}
overlays.strategy = {{ cantaloupe_overlays_strategy }}
overlays.BasicStrategy.type = {{ cantaloupe_overlays_BasicStrategy_type }}
overlays.BasicStrategy.image = {{ cantaloupe_overlays_BasicStrategy_image }}
overlays.BasicStrategy.string = {{ cantaloupe_overlays_BasicStrategy_string }}
overlays.BasicStrategy.string.font = {{ cantaloupe_overlays_BasicStrategy_string_font }}
overlays.BasicStrategy.string.font.size = {{ cantaloupe_overlays_BasicStrategy_string_font_size }}
overlays.BasicStrategy.string.font.min_size = {{ cantaloupe_overlays_BasicStrategy_string_font_min_size }}
overlays.BasicStrategy.string.font.weight = {{ cantaloupe_overlays_BasicStrategy_string_font_weight }}
overlays.BasicStrategy.string.glyph_spacing = {{ cantaloupe_overlays_BasicStrategy_string_glyph_spacing }}
overlays.BasicStrategy.string.color = {{ cantaloupe_overlays_BasicStrategy_string_color }}
overlays.BasicStrategy.string.stroke.color = {{ cantaloupe_overlays_BasicStrategy_string_stroke_color }}
overlays.BasicStrategy.string.stroke.width = {{ cantaloupe_overlays_BasicStrategy_string_stroke_width }}
overlays.BasicStrategy.string.background.color = {{ cantaloupe_overlays_BasicStrategy_string_background_color }}
overlays.BasicStrategy.position = {{ cantaloupe_overlays_BasicStrategy_position }}
overlays.BasicStrategy.inset = {{ cantaloupe_overlays_BasicStrategy_inset }}
overlays.BasicStrategy.output_width_threshold = {{ cantaloupe_overlays_BasicStrategy_output_width_threshold }}
overlays.BasicStrategy.output_height_threshold = {{ cantaloupe_overlays_BasicStrategy_output_height_threshold }}

###########################################################################
# REDACTIONS
###########################################################################

redaction.enabled = {{ cantaloupe_redaction_enabled }}

###########################################################################
# METADATA
###########################################################################

metadata.preserve = {{ cantaloupe_metadata_preserve }}
metadata.respect_orientation = {{ cantaloupe_metadata_respect_orientation }}

###########################################################################
# LOGGING
###########################################################################

#----------------------------------------
# Application Log
#----------------------------------------

log.application.level = {{ cantaloupe_log_application_level }}
log.application.ConsoleAppender.enabled = {{ cantaloupe_log_application_ConsoleAppender_enabled }}
log.application.FileAppender.enabled = {{ cantaloupe_log_application_FileAppender_enabled }}
log.application.FileAppender.pathname = {{ cantaloupe_log_application_FileAppender_pathname }}
log.application.RollingFileAppender.enabled = {{ cantaloupe_log_application_RollingFileAppender_enabled }}
log.application.RollingFileAppender.pathname = {{ cantaloupe_log_application_RollingFileAppender_pathname }}
log.application.RollingFileAppender.policy = {{ cantaloupe_log_application_RollingFileAppender_policy }}
log.application.RollingFileAppender.TimeBasedRollingPolicy.filename_pattern = {{ cantaloupe_log_application_RollingFileAppender_TimeBasedRollingPolicy_filename_pattern }}
log.application.RollingFileAppender.TimeBasedRollingPolicy.max_history = {{ cantaloupe_log_application_RollingFileAppender_TimeBasedRollingPolicy_max_history }}
log.application.SyslogAppender.enabled = {{ cantaloupe_log_application_SyslogAppender_enabled }}
log.application.SyslogAppender.host = {{ cantaloupe_log_application_SyslogAppender_host }}
log.application.SyslogAppender.port = {{ cantaloupe_log_application_SyslogAppender_port }}
log.application.SyslogAppender.facility = {{ cantaloupe_log_application_SyslogAppender_facility }}

#----------------------------------------
# Access Log
#----------------------------------------

log.access.ConsoleAppender.enabled = {{ cantaloupe_log_access_ConsoleAppender_enabled }}
log.access.FileAppender.enabled = {{ cantaloupe_log_access_FileAppender_enabled }}
log.access.FileAppender.pathname = {{ cantaloupe_log_access_FileAppender_pathname }}
log.access.RollingFileAppender.enabled = {{ cantaloupe_log_access_RollingFileAppender_enabled }}
log.access.RollingFileAppender.pathname = {{ cantaloupe_log_access_RollingFileAppender_pathname }}
log.access.RollingFileAppender.policy = {{ cantaloupe_log_access_RollingFileAppender_policy }}
log.access.RollingFileAppender.TimeBasedRollingPolicy.filename_pattern = {{ cantaloupe_log_access_RollingFileAppender_TimeBasedRollingPolicy_filename_pattern }}
log.access.RollingFileAppender.TimeBasedRollingPolicy.max_history = {{ cantaloupe_log_access_RollingFileAppender_TimeBasedRollingPolicy_max_history }}x
log.access.SyslogAppender.enabled = {{ cantaloupe_log_access_SyslogAppender_enabled }}
log.access.SyslogAppender.host = {{ cantaloupe_log_access_SyslogAppender_host }}
log.access.SyslogAppender.port = {{ cantaloupe_log_access_SyslogAppender_port }}
log.access.SyslogAppender.facility = {{ cantaloupe_log_access_SyslogAppender_facility }}
