<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:amq="http://activemq.apache.org/schema/core"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

    <context:property-placeholder/>

    <!--
        The <broker> element is used to configure the ActiveMQ broker.
    -->
    <broker xmlns="http://activemq.apache.org/schema/core" brokerName="localhost">
      <persistenceAdapter>
        <kahaDB directory="${fcrepo.activemq.directory:ActiveMQ/kahadb}"/>
      </persistenceAdapter>
      <networkConnectors>
        <networkConnector name="fedora_bridge" dynamicOnly="true" uri="static:({{ fcrepo_activemq_broker_url }})">
          <dynamicallyIncludedDestinations>
            <topic physicalName="fedora"/>
            <queue physicalName="fedora"/>
          </dynamicallyIncludedDestinations>
        </networkConnector>
      </networkConnectors>
    </broker>
</beans>
