---

# managed by Ansible

houdini:
  # path to the convert executable
  executable: {{ crayfish_houdini_executable_config.executable }}
  formats:
    valid:
{% for type in crayfish_houdini_executable_config.formats.valid %}
      - {{ type }}
{% endfor %}
    default: {{ crayfish_houdini_executable_config.formats.default }}

fedora_resource:
  base_url: {{ crayfish_houdini_fedora_base_url }}

log:
  # Valid log levels are:
  # DEBUG, INFO, NOTICE, WARNING, ERROR, CRITICAL, ALERT, EMERGENCY, NONE
  # log level none won't open logfile
  level: {{ crayfish_houdini_log_level }}
  file: {{ crayfish_houdini_log_file }}

syn:
  # toggles JWT security for service
  enable: {{ crayfish_houdini_jwt_enabled }}
  # Path to the syn config file for authentication.
  # example can be found here:
  # https://github.com/Islandora-CLAW/Syn/blob/master/conf/syn-settings.example.xml
  config: {{ crayfish_houdini_jwt_config }}