# ALPACA_HOME and ALPACA_CONFIG (which refers to this file) are defined in
# the systemd/system/alpaca.service file

ALPACA_HEAP=512m
ALPACA_JAR={{ alpaca_jar_path }}
ALPACA_LOG_DIR=${ALPACA_HOME}/logs
ALPACA_PROPERTIES=${ALPACA_HOME}/alpaca.properties
ALPACA_LOG_LEVEL={{ alpaca_log_level }}