
# Managed by Ansible

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/5.4/best_practices/configuration.html#application-related-configuration

parameters:
    app.executable: {{ crayfish_homarus_executable_config.executable }}
    app.formats.valid:
{% for valid_format in crayfish_homarus_executable_config.formats.valid %}
      - mimetype: {{ valid_format['mimetype'] }}
        format: {{ valid_format['format'] }}
{% endfor %}
    app.formats.defaults:
      mimetype: {{ crayfish_homarus_executable_config.formats.default.mimetype }}
      format: {{ crayfish_homarus_executable_config.formats.default.format }}
    app.tempDirectory: {{ crayfish_homarus_executable_config.tempdirectory }}

services:
    # default configuration for services in *this* file
    _defaults:
      autowire: true      # Automatically injects dependencies in your services.
      autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\Islandora\Homarus\:
      resource: '../src/*'
      exclude:
        - '../src/DependencyInjection/'
        - '../src/Entity/'
        - '../src/Kernel.php'
        - '../src/Tests/'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Islandora\Homarus\Controller\HomarusController:
      public: false
      arguments:
        $formats: '%app.formats.valid%'
        $defaults: '%app.formats.defaults%'
        $executable: '%app.executable%'
        $tempDirectory: '%app.tempDirectory%'
      tags: ['controller.service_arguments']
