[Unit]
Description=karaf

[Service]
User={{ karaf_user }}
Type=forking
PIDFile={{ karaf_install_symlink }}/data/karaf.pid
ExecStart={{ karaf_install_symlink }}/bin/karaf-service start
ExecReload={{ karaf_install_symlink }}/bin/karaf-service restart
ExecStop={{ karaf_install_symlink }}/bin/karaf-service stop

[Install]
Alias=karaf
WantedBy=default.target
