TOMCAT8_USER={{tomcat8_server_user}}
TOMCAT8_GROUP={{tomcat8_server_group}}
{% if tomcat8_java_home is defined %}
JAVA_HOME="{{tomcat8_java_home}}"
{% endif %}
JAVA_OPTS="{{tomcat8_java_opts}}"
{% if tomcat8_jsp_compiler is defined %}
JSP_COMPILER="{{tomcat8_jsp_compiler}}"
{% endif %}
{% if tomcat8_tomcat8_security is defined %}
TOMCAT8_SECURITY="{{tomcat8_tomcat8_security}}"
{% endif %}
{% if tomcat8_logfile_days is defined %}
LOGFILE_DAYS="{{tomcat8_logfile_days}}"
{% endif %}
{% if tomcat8_logfile_compress is defined %}
LOGFILE_COMPRESS="{{tomcat8_logfile_compress}}"
{% endif %}
{% if tomcat8_jvm_tmp is defined %}
JVM_TMP="{{tomcat8_jvm_tmp}}"
{% endif %}
{% if tomcat8_authbind is defined %}
AUTHBIND="{{tomcat8_authbind}}"
{% endif %}
