<?xml version='1.0' encoding='utf-8'?>
<tomcat-users xmlns="http://tomcat.apache.org/xml"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://tomcat.apache.org/xml tomcat-users.xsd"
              version="1.0">
{% for role in tomcat8_roles %}
  <role rolename="{{ role }}"/>
{% endfor %}
{% for user in tomcat8_users %}
  <user username="{{ user.username }}" password="{{ user.password }}" roles="{{ user.roles|join(',') }}"/>
{% endfor %}
</tomcat-users>
