blazegraph_version: 2.1.4
blazegraph_user: tomcat
blazegraph_home_dir: /opt/blazegraph
blazegraph_war_path: "{{ tomcat9_home }}/webapps/bigdata.war"
blazegraph_log4j_template: log4j.properties
blazegraph_log_dir: /var/log/tomcat9/blazegraph
blazegraph_log4j_path: "{{ tomcat9_home }}/webapps/bigdata/WEB-INF/classes/log4j.properties"
blazegraph_webxml_path: "{{ tomcat9_home }}/webapps/bigdata/WEB-INF/web.xml"
blazegraph_webxml_template: yes

# -- All of these are properties that go into RWStore.properties
##
## Journal options.
##

# The backing file. This contains all your data.  You want to put this someplace
# safe.  The default locator will wind up in the directory from which you start
# your servlet container.
blazegraph_config_journal_AbstractJournal_file: "{{ blazegraph_home_dir }}/data/blazegraph.jnl"

# The persistence engine_  Use 'Disk' for the WORM or 'DiskRW' for the RWStore_
blazegraph_config_journal_AbstractJournal_bufferMode: "DiskRW"

# Setup for the RWStore recycler rather than session protection_
blazegraph_config_service_AbstractTransactionService_minReleaseAge: "1"

# Enable group commit_ See http://wiki_blazegraph_com/wiki/index_php/GroupCommit
blazegraph_config_journal_Journal_groupCommit: "false"

blazegraph_config_btree_writeRetentionQueue_capacity: "4000"
blazegraph_config_btree_BTree_branchingFactor: "128"

# 200M initial extent_
blazegraph_config_journal_AbstractJournal_initialExtent: "209715200"
blazegraph_config_journal_AbstractJournal_maximumExtent: "209715200"

##
## Setup for QUADS mode without the full text index_
##
blazegraph_config_rdf_sail_truthMaintenance: "false"
blazegraph_config_rdf_store_AbstractTripleStore_quads: "true"
blazegraph_config_rdf_store_AbstractTripleStore_statementIdentifiers: "false"
blazegraph_config_rdf_store_AbstractTripleStore_textIndex: "false"
blazegraph_config_rdf_store_AbstractTripleStore_axiomsClass: "com.bigdata.rdf.axioms.NoAxioms"

# Bump up the branching factor for the lexicon indices on the default kb_
blazegraph_config_namespace_kb_lex_blazegraph_config_btree_BTree_branchingFactor: "400"

# Bump up the branching factor for the statement indices on the default kb_
blazegraph_config_namespace_kb_spo_blazegraph_config_btree_BTree_branchingFactor: "1024"

# Uncomment to enable collection of OS level performance counters_  When
# collected they will be self-reported through the /counters servlet and
# the workbench "Performance" tab_
#
blazegraph_config_journal_Journal_collectPlatformStatistics: "false"


triplestore_namespace: islandora
alpaca_triplestore_base_url: "http://{{ hostvars[groups['tomcat'][0]].ansible_host  }}:8080/bigdata"
