---

webserver_app_apache: yes
webserver_app_drupal: yes
webserver_app_jwt: yes

webserver_app_jwt_key_path: /opt/islandora/auth
webserver_app_jwt_config_path: /opt/islandora/configs/jwt

webserver_app_drupal_config_path: /opt/islandora/configs/drupal

webserver_app_user: "{% if ansible_os_family == 'RedHat' %}apache{% else %}www-data{% endif %}"

webserver_document_root: /var/www/html
