---

- name: Download blazegraph war
  get_url:
    url: https://repo1.maven.org/maven2/com/blazegraph/bigdata-war/{{ blazegraph_version }}/bigdata-war-{{ blazegraph_version }}.war
    dest: "{{ blazegraph_war_path }}"
    owner: "{{ blazegraph_user }}"
    group: "{{ blazegraph_user }}"
  register: blazegraph_war_download
